/* base stylesheet for all pages */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* color theme */
:root {
  --white: #FFF2EA;
  --brown: #FED9A2;
  --orange: #FDBB71;
  --red: #ED6F27;
  --green: #14706B;
}

/* base css  */
html {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
};


h2 {
  font-size: 25px;
  line-height: 2px;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  margin: 3rem 2rem 2rem 2rem;
  font-size: 18px;
  width: auto;
  font-family: 'Roboto', sans-serif;

  }

.title {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-style: medium;
  display: flex;
  justify-content: center;
}


#question {
  font-size: 25px;
  font-style: normal;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

button {
  font-family: 'Roboto', sans-serif;
  background-color: var(--orange);
  border: none;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  text-align: left;
  height: 6rem;
  color: white;
  font-weight: 700;
  font-size: 22px;
  font-stretch: semi-expanded;
}

.answer:hover {
  background-color: var(--red);
}

.grey:hover {
  background-color: grey;
}
/* next button */
#nextbtn {
  height: 3rem;
  text-align: center;
  background-color: var(--brown);
  margin-bottom: 2rem;
}

#nextbtn:hover {
background-color: var(--green);
}

/* score box */
#score-keeper {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  font-size: 1px;
  margin-top: 1.5rem;
}

/* score heading */
#score-heading {
margin-left: 0rem;
}

/* finish screen */

#finish {
  font-family: 'Roboto', sans-serif;
  margin-left: 2rem;
  font-size: 25px;
}

#return-btn {
  font-family: 'Roboto', sans-serif;
  background-color: var(--orange);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin: 3rem 2rem 1rem 2rem;
  text-align: left;
  color: white;
  font-weight: 700;
  font-size: 22px;
  font-stretch: semi-expanded;
  width:max-content;
}

#return-btn:hover {
 background-color: var(--red);
}


/* progress bar */

#progress-bar {
  width: 100%;
  height: 0.5rem;
  background-color: grey;
  border-radius: 20px;
  position: relative;
}

#barStatus {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #25F;
}

.correct-answer {
  background-color: var(--green);
}

.incorrect-answer {
  background: var(--red);
}

.grey {
  background-color: grey;
}

